<p id="notice"><%= notice %></p>

<p>
  <strong>Addlatitudetorutes:</strong>
  <%= @migration.AddlatitudeTorutes %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
